@font-face {
  font-family: 'Annabelle';
  font-style: normal;
  font-weight: 400;
  src: url("karisma/assets/fonts/annabelle.ttf");
}
#wrapper {
  background-color: #ffffff;
}
#wrapper #contact_header {
  background-color: #ffffff;
}
#wrapper #contact_header .content_cut_ {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
#wrapper #contact_header .content_cut_ .left_block h3 {
  font-size: 1em;
}
#wrapper #contact_header .content_cut_ .right_block ul {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#wrapper #contact_header .content_cut_ .right_block ul li {
  display: flex;
  align-items: center;
  padding: 0 10px;
}
#wrapper #contact_header .content_cut_ .right_block ul li:after {
  margin: 0 20px;
  content: '';
  display: block;
  height: 30px;
  width: 1px;
  background-color: #DDDDDD;
}
#wrapper #contact_header .content_cut_ .right_block ul li a {
  color: #0b0b0b;
}
#wrapper .annabelle {
  font-family: 'Annabelle';
  font-size: 3em;
}
#wrapper .position {
  top: 10%;
  left: 10%;
}
#wrapper .position h3 {
  text-align: left;
}
#wrapper header {
  background-color: #ffffff;
  padding-top: 20px;
  margin-bottom: 20px;
  border-top: 1px solid #dddddd;
}
#wrapper header .content_cut {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#wrapper header .content_cut .left_block {
  width: 275px;
}
#wrapper header .content_cut .left_block div img {
  display: block;
  width: 100%;
  height: 100%;
}
#wrapper header .content_cut .left_block h2 {
  text-align: center;
  font-weight: bold;
}
#wrapper header .content_cut .left_block p {
  font-family: 'Annabelle';
  text-align: center;
  font-size: 1.7em;
  font-weight: 600;
  letter-spacing: 1px;
  color: #802E7F;
}
#wrapper header .content_cut .right_block nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#wrapper header .content_cut .right_block nav ul li {
  padding: 0 20px;
}
#wrapper header .content_cut .right_block nav ul li a {
  font-weight: normal;
  color: #0b0b0b;
}
#wrapper header .content_cut .right_block nav ul li a:hover {
  color: #FAB099;
}
#wrapper ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#wrapper .karisma_slider {
  height: 70vh;
}
#wrapper .content_cut {
  max-width: 1200px;
  margin: 0 auto;
}
#wrapper content_cut_ {
  max-width: 1280px;
  margin: 0 auto;
}
.carousel-caption {
  z-index: 9999;
}
.carousel-caption ul {
  text-align: left;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.title_1 {
  text-align: center;
  margin: 20px 0;
}
.title_1 h2 {
  font-size: 2.5em;
  font-weight: 600;
}
.title_1:after {
  display: block;
  content: '';
  height: 2px;
  width: 100px;
  margin: 10px auto;
  background-color: #FAB099;
}
.about {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 20px 0;
}
.about p {
  margin: 0 auto;
  text-align: center;
  font-size: 1.5em;
}
.hidden-xs {
  font-size: 1.2em;
}
.tab_list li {
  font-size: 1.1em;
  letter-spacing: 1px;
  cursor: pointer;
}
.tab_list li:hover {
  color: #f8b39f;
}
.tab_list li i {
  color: #54B4C9;
}
.contacts_last {
  justify-content: center;
  display: flex;
  align-items: center;
}
.contacts_last ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 30px;
}
.contacts_last ul li {
  padding: 20px;
}
.contacts_last ul li a {
  color: #0b0b0b;
}
.contacts_last ul li a:hover {
  color: #bf8776;
}
section {
  padding: 20px 0;
}
.middle_block {
  display: flex;
  align-items: center;
  justify-content: center;
}
.middle_block span {
  cursor: pointer;
  margin-left: 20px;
  display: block;
  width: 30px;
  height: 30px;
}
.middle_block span:hover {
  margin-bottom: 5px ;
}
.middle_block span:hover:after {
  display: block;
  width: 30px;
  height: 2px;
  background-color: #FAB099;
  content: '';
}
.karisma_social {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 0;
}
.karisma_social a {
  margin-left: 20px;
  display: block;
}
.karisma_social a:hover {
  border-bottom: 2px solid #FAB099;
}
.karisma_social a i {
  font-size: 2em;
}
.karisma_social a .fa-facebook {
  color: #315896;
}
.karisma_social a .fa-instagram {
  color: #0b0b0b;
}
.ways {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 15px ;
}
.ways h3 {
  text-align: left;
  font-size: 2.5em;
}
.ways .ways_about {
  margin-left: 5%;
  margin-bottom: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.ways .ways_about span {
  margin: 10px 0;
  font-size: 1.1em;
  letter-spacing: 2px;
}
.image_1 {
  width: 50%;
  margin: 0 auto;
}
.image_1 img {
  display: none;
  width: 100%;
  margin: 0 auto;
}
.switch-transition {
  transition: all 0.5s ease-in-out;
}
.switch-enter {
  left: 100%;
}
.switch-leave {
  left: -100%;
}
.image_links img {
  display: block;
  width: 200px;
  height: 200px;
}
/*# sourceMappingURL=styles.css.map */
